.author-link {
/*  color: #000;*/
  color: #a2a2a2;
}

.author-name {
  font-weight: bold;
}

.pub-table {
  border-collapse:separate;
  border-spacing:0 0px;
  margin: auto;
  font-size: medium;
}

.year-row {
  font-weight: bold;
  background-color: #f7f7f7 !important;
  line-height: 5px;
}

.pub-row {
  background-color: #FFFFFF !important;
  line-height: 26px;
}

.author-line {
  font-style: oblique;
}

.title-line {
  font-weight: bold;
}

.book-title-line {
  font-weight: bold;
}

.venue-line {
}

.title-link {
/*  color: #222; */
  color: #a2a2a2;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-success {
  background-color: #5cb85c;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

